.header {
    background-color: rgb(209, 209, 209);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    background: url('../../../assets/planeWing.jpg');
    padding: 10px;
    background-position-y: -1140px;
}

img {
    width: 100px;
}